.cart-title {
    color: rgb(61, 61, 61);
    font-family: anta;
    text-align: center;
}

.text-gray {
    color: rgba(104, 104, 104, 0.392);
}

.cart-img {
    border-radius: 10px;
    border: 3px double rgba(69, 194, 216, 0.423);
    margin-bottom: 0;
}

.cart-border {
    border-radius: 10px;
    border: 4px solid rgba(69, 194, 216, 0.423);
    background-color: rgb(255, 255, 255);
    color: rgb(42, 42, 42);
    font-family: anta;
}

.btn-quantità {
    border: 3px double rgba(224, 184, 105);
    /* border: 3px double rgb(69, 194, 216); */
}

.btn-regola-quantità {
    background-color: white;
    color: rgba(104, 104, 104, 0.912);
}

.btn-regola-quantità:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(224, 184, 105);
    border-color: rgba(224, 184, 105);
    transition: all 0.3s ease;
}

.btn-elimina {
    border: 3px double rgba(255, 0, 0, 0.516);
    color: rgb(239, 2, 2);
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
}

.btn-elimina:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 35px rgba(255, 0, 0, 0.17);
}

.btn-svuota {
    border: 3px double rgba(255, 0, 0, 0.516);
    color: rgb(239, 2, 2);
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.btn-svuota:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 35px rgba(255, 0, 0, 0.17);
}



.btn-gold {
    border-radius: 10px;
    border: 4px double rgb(255, 255, 255);
    color: rgb(255, 248, 233);
    background: linear-gradient(to bottom, rgb(224, 185, 105), rgb(167, 137, 79));
    transition: all 0.4s ease;
}

.btn-gold-2 {
    border-radius: 10px;
    border: 4px double rgb(255, 255, 255);
    color: rgb(255, 248, 233);
    background: linear-gradient(to bottom, rgb(224, 185, 105), rgb(167, 137, 79));
    transition: all 0.4s ease;
    width: 100%;
    display: inline-block;
    text-align: center;

}

.btn-gold-2:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 30px rgba(224, 184, 105, 0.837);
}

.riepilogo {
    border-radius: 10px;
    border: 5px solid rgba(69, 194, 216, 0.423);
}