h4 {
    font-family: 'Anta', sans-serif;
    color: rgb(87, 87, 87);
    /* background: linear-gradient(to bottom, #e1bb70 0%, #b3904a 45%,  #826331 55%,  #c8a55d 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

label {
    color: rgb(58, 58, 58);
}

.checkout-page {
    /* background-color:  rgba(69, 194, 216, 0.423); */
    /* background: linear-gradient(to bottom, #ffffff, rgb(192, 156, 85)); */
    /* background: linear-gradient(to bottom, white, rgba(69, 194, 216, 0.423), rgb(33 37 41)); */
    min-height: 100vh;
    padding-top: 120px;
    color: #000;
}

.border-checkout {
    border-radius: 10px;
    border: 4px solid rgba(69, 194, 216, 0.423);
    background-color: rgb(255, 255, 255);
}

.input-checkout {
    border: 3px double rgba(69, 194, 216, 0.423);
    /* color: rgb(250, 0, 0); */
}

.form-control:focus {
    /* color: var(--bs-body-color); */
    /* background-color: var(--bs-body-bg); */
    border-color: rgb(224, 185, 105);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(224, 184, 105, 0.272);
}

.form-check-input {
    border-color: rgb(192, 156, 85);
}

.form-check-input:checked {
    background-color: rgb(224, 185, 105);
    border-color: rgb(192, 156, 85);
}

.form-check-input:focus {
    border-color: rgb(224, 185, 105);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(224, 184, 105, 0.272);
}


.payment_method {
    border: 3px double rgba(69, 194, 216, 0.423);
    color: rgb(58, 58, 58);
}

.form-select:focus {
    border-color: rgb(224, 185, 105);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(224, 184, 105, 0.272);
}

.riepilogo{
    border-radius: 10px;
    border: 5px solid rgba(69, 194, 216, 0.423);
}
.totale{
    color: rgb(58, 58, 58); 
    
}
.order-btn{
    border-radius: 10px;
    border: 4px double rgb(255, 255, 255);
    color: rgb(255, 248, 233);
    background: linear-gradient(to bottom, rgb(224, 185, 105), rgb(167, 137, 79));
    transition: all 0.4s ease;
}

.order-btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.453);
}

.ordine-confermato{
    border-radius: 10px;
    border: 4px solid rgba(69, 194, 216, 0.423);

}
.title-order{
    font-family: anta;
    color: rgb(87, 87, 87); 
}
.text-grazie{
    color: rgb(91, 91, 91);
}

.text-gold{
    color: rgb(224, 185, 105);
}