.btn-svuota {
    border: 3px solid rgba(255, 0, 0, 0.516);
    color: rgb(239, 2, 2);
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.btn-svuota:hover {
    transform: translateY(-1px);
    border: 3px double rgba(255, 0, 0, 0.516);
    box-shadow: 0 15px 35px rgba(255, 0, 0, 0.17);
}

.applica-btn {
    border-radius: 10px;
    border: 4px double rgb(255, 255, 255);
    color: rgb(255, 248, 233);
    background: linear-gradient(to bottom, rgb(224, 185, 105), rgb(167, 137, 79));
    transition: all 0.4s ease;
}
.applica-btn:hover{
      border: 4px double rgb(255, 255, 255);
    color: rgb(255, 248, 233);
    transform: translateY(-1px);
}

/* .shadow-gold:focus{
   border-color: rgb(224, 185, 105);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(224, 184, 105, 0.272);
} */

.no-robot{
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: 1.5rem;
    color: rgba(255, 0, 0, 0.597);
}