.card-container {
    background-color: #ffffff;
    padding: 30px;
    position: relative;
    /* Taglio angoli stile HUD */
    clip-path: polygon(10% 0%, 90% 0%, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0% 85%, 0% 15%);
    /* Bordo turchese doppio */
    border: 4px double #50cbd1;
    transition: all 0.3s ease-in-out;
    align-items: flex-start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(80, 203, 209, 0.2);
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

.card-container h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #222;
    margin: 0;
}

.card-container p {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #555;
    margin: 5px 0 20px 0;
}

.product-price {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}


.btn-bestseller {
    border: 2px solid #50cbd1;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 8px 16px;
    margin-top: 25%;
    margin-left: 28%;
}