/* bottoni ------------------------------*/
.btn-cart2 {
    /* colori */
    color: rgb(107, 107, 107);
    border: 3px solid rgba(69, 194, 216, 0.616);
    background: rgb(255, 255, 255);
    border-radius: 10px;

   
    padding: 10px 25px;
    transition: all 0.4s ease;

    /* font */
    font-family: 'Anta', sans-serif;
    font-style: normal;
    
}

.btn-cart2:hover {
    background: rgba(255, 255, 255, 0.4);
    border: 3px double rgba(69, 194, 216, 0.616);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}