footer {
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(143, 143, 143);
}

.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    max-width: 100%;
}

.bot-footer {
    border-top: 1px solid rgb(143, 143, 143);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-size: 0.7rem;
    color: rgb(143, 143, 143);
}

.font-sect {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.foot-columns{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.foot-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 20px;
    gap: 0.1rem; 
}

.c-white {
    color: white;
}

.c-gray {
    color: rgb(204, 204, 204);
}

