
.banner{
    background-color: rgb(77, 165, 180);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgb(69, 143, 156);
    z-index: 999;
}



.banner-close {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    line-height: 1;
    opacity: 0.9;
}

.banner-close:hover {
    opacity: 1;
}